/* av-list-box-item component styles */

.av-list-box-item {
  @apply relative flex min-h-9 w-full items-center justify-start gap-3 rounded-2xl px-2 py-1.5 outline-none av-no-highlight;

  transition:
    transform 250ms var(--ease-out-quart),
    box-shadow 150ms var(--ease-out);
  @apply av-motion-reduce:transition-none;

  cursor: var(--av-cursor-interactive);

  [data-slot="label"] {
    @apply pointer-events-none w-fit select-none;
  }

  [data-slot="description"] {
    @apply pointer-events-none text-wrap select-none;
  }

  &:has(.av-list-box-item__indicator) {
    @apply pe-7;
  }

  &:focus-visible:not(:focus),
  &[data-focus-visible="true"] {
    @apply av-status-focused;
  }

  &:active,
  &[data-pressed="true"] {
    transform: scale(0.98);
  }

  @media (hover: hover) {
    &:hover,
    &[data-hovered="true"] {
      @apply bg-default;
    }
  }

  &[data-disabled="true"] {
    @apply av-status-disabled;
  }
}

.av-list-box-item__indicator {
  @apply absolute top-1/2 end-2 flex size-4 shrink-0 -translate-y-1/2 items-center justify-center text-default-foreground;

  @apply transition duration-250 av-motion-reduce:transition-none;

  [data-slot="list-box-item-indicator--checkmark"] {
    @apply size-2.5 transition-all duration-300 av-motion-reduce:transition-none;
  }

  .av-list-box-item[aria-selected="true"] [data-slot="list-box-item-indicator--checkmark"],
  .av-list-box-item[data-selected="true"] [data-slot="list-box-item-indicator--checkmark"] {
    transition: stroke-dashoffset 250ms linear;
    @apply av-motion-reduce:transition-none;
  }
}

.av-list-box-item--danger {
  .av-list-box-item__indicator {
    @apply text-danger;
  }

  [data-slot="label"] {
    @apply text-danger;
  }
}
